#cabeçalho {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: white;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.lista {
	float: right;
}
.barra{
	background: url("lupa.png");
	background-repeat: no-repeat;
	padding-left: 50px;
	background-size: 25px;
	background-position: 3% 50%;
}
li a {
	display: block;
	color: black;
	padding: 14px 16px; 
	text-align: center;
	text-decoration: none;
	font-size: 13px;
}
li a:hover {
	text-decoration: underline;
}
li:last-child {
  border-bottom: none;
}
 .active {
  background-color: #4CAF50;
  color: white;
}
#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	margin-bottom: auto; 
	width: 272px;
	}
#fname{
	display: block;
	margin-left: 370px;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: auto;
	border-style: solid;
	border-color: #c3c3c3; 
	width: 575px;
	color: black;
	}
#search{
	display: inline-block;
	margin-left: 550px;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: auto;
	position: center;
	border-radius: 10px;
}
#lucky{
	display: inline-block;
	margin-left: 20px;
	border-radius: 10px;
}
input{
	border-radius: 25px;
	height: 40px;
}
#rodapé {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	background-color: white;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer{
	border-top: 2px solid #e3e3e3;
}
form{
	height: 320px;
}
